@model IEnumerable<ProjectCuoiKhoa.Data.HangHoa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <h1>Trang chủ - Hàng Hóa</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenHh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiamGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChiTiet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenHh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiamGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                <img src="~/Hinh/HangHoa/@item.Hinh" height="80"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiTiet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loai.MaLoai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHangHoa">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaHangHoa">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHangHoa">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
